<!DOCTYPE html>
<html>

<head></head>

<body>
<textarea rows="20" cols="50">
{{if eq (.query.Get "a") "2"}}
flashed: {{get_flashed_messages}}
{{end}}

session: {{.session}}

{{range $k, $v := .}}{{$k}}: {{$v|typeOf}}
{{end}}

</textarea>

    <br />
    admin:<br />
    <textarea rows="10" cols="50">{{ marshal . }}</textarea>
    <br />
    dict(exclude admin):<br />
    <textarea rows="10" cols="50">{{ . | delete "admin" | marshal }}</textarea>
    <br />
    menu:<br />
    <textarea rows="10" cols="50">{{ .menu | marshal }}</textarea>
    <br />
    blueprint:<br />
    

</body>

</html>