<!DOCTYPE html>
<html>

<head></head>

<body>
    admin:<br />
    <textarea rows="10" cols="50">{{ marshal . }}</textarea>
    <br />
    dict(exclude admin):<br />
    <textarea rows="10" cols="50">{{ . | delete "admin" | marshal }}</textarea>
    <br />
    menu:<br />
    <textarea rows="10" cols="50">{{ .menu | marshal }}</textarea>
    <br />
    blueprint:<br />
    <textarea rows="10" cols="50">{{ .children | marshal }}</textarea>

</body>

</html>