{{ template "master.gotmpl" . }}

{{ define "body" }}
  <br />
  {{if not .db}}Click <a href="generate">Generate</a> to add database{{else}}
  Click <a href="trace">Trace</a> or <a href="console">SQL Console</a>
  {{end}}
{{ end }}
