<html>
<br />{{23 -}} < {{- 45}}
<br />{{23 }} < {{ 45}}

{{template "T2"}}
{{template "T3"}}

<li>call head</li>
{{define "test-head"}}<title>index</title>{{end}}
<li>call bb</li>
{{define "bb"}}index{{end}}

{{template "base.html" .}}

{{ admin_static_url "a" "b" }}

<li>printf is useful</li>
{{ admin_static_url (printf "%s%s" "a" .foo) "c" }}

<br />{{"\"output\""}}
	A string constant.
<br />{{`"output"`}}
	A raw string constant.
<br />{{printf "%q" "output"}}
	A function call.
<br />{{"output" | printf "%q"}}
	A function call whose final argument comes from the previous
	command.
<br />{{printf "%q" (print "out" "put")}}
	A parenthesized argument.
<br />{{"put" | printf "%s%s" "out" | printf "%q"}}
	A more elaborate call.
<br />{{"output" | printf "%s" | printf "%q"}}
	A longer chain.
<br />{{with "output"}}{{printf "%q" .}}{{end}}
	A with action using dot.
<br />{{with $x := "output" | printf "%q"}}{{$x}}{{end}}
	A with action that creates and uses a variable.
<br />{{with $x := "output"}}{{printf "%q" $x}}{{end}}
	A with action that uses the variable in another action.
<br />{{with $x := "output"}}{{$x | printf "%q"}}{{end}}
	The same, but pipelined.


<li>define block</li>
{{define "body"}}<h1>Title</h1>{{end}}

<li>use block</li>
{{block "body" .}}{{end}}
not work: {{/*block "body"}}{{end*/}}
{{template "body"}}

<li>define and execute block</li>
{{block "footer" .}} the footer {{end}}


<li>{{define "T1"}}ONE{{end}}</li>
<li>{{define "T2"}}TWO{{end}}</li>
<li>{{define "T3"}}{{template "T1"}} {{template "T2"}}{{end}}</li>
<li>{{template "T3"}}</li>



{{.foo}}
{{.Zoo}}


<link href="{{ .admin_static.Url "bootstrap/bootstrap4/css/bootstrap.min.css" "4.2.1" }}" rel="stylesheet">
<link href="{{ admin_static_url "bootstrap/bootstrap4/css/bootstrap.min.css" "4.2.1" }}" rel="stylesheet">


{{ range .List }} <li>{{.}}</li> {{end}}

<br />Conda:{{if .Conda}}a{{end}}
<br />Condb:{{if .Condb}}b{{end}}

<li>range</li>
{{range $i, $a := .List}}<li>{{$i}}:{{$a}}</li>
{{end}}

<li>with</li>
{{with .List}}<li>{{.}}</li>{{end}}
<li>{{.List}}</li>

<li>if .null: {{if .null}}not null{{else}}null{{end}}</li>
<li>if .empty: {{if .empty}}true{{end}}</li>

</html>