<html>
<body>
	<h1>go template features</h1>


	<ul><h4>if</h4>
		<li>emptyString: {{ if not .emptyString }} 🟢 {{ end }}
		<li>lower {{ if .lower }} 🟢  {{ end }}
		<li>emptyInt: {{if not .emptyInt }} 🟢 {{ end }}
		<li>emptyIntArray: {{if not .emptyIntArray }} 🟢 {{ end }}
		<li>null: {{if not .null }} 🟢 {{ end }}
	</ul>


	<ul><h4>else if</h4>
	{{ if eq .int 34 }}
	🟢
	{{ else if eq .int 43 }}
	not work
	{{ end }}
	</ul>


	<ul><h4>struct</h4></ul>
	<li>value: {{ .rfoo }} {{ .rfoo.Upper }} {{/* .rfoo.lower */}}
	<li>func return: {{ call .ffoo }} {{ (call .ffoo).Upper }} {{/* (call .ffoo).lower */}}


	<ul><h4>map[string]any</h4></ul>
	<li>value: {{ .msa }}
	<li>.Upper: {{ .msa.Upper }}
	<li>.lower: {{ .msa.lower }}
	<li>map.set: {{ .msa | set "a" "b" }} after: {{ .msa }}


</body>

</html>
